<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMgrO3X-UYA6dB7yJP2Zu2NvVls0nObvo</string>
	<key>GCM_SENDER_ID</key>
	<string>306560363733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team2.SEEDS</string>
	<key>PROJECT_ID</key>
	<string>seeds-4a6cb</string>
	<key>STORAGE_BUCKET</key>
	<string>seeds-4a6cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306560363733:ios:e7ff14968dfb892210465c</string>
</dict>
</plist>